In [ ]:
import pandas as pd
import requests
address_1=pd.read_csv('df_ver2.csv')
address_1

,FMAP_INNB,VDPT_YR,PNU_LNM_CD,LGL_EMD_CD,LGL_EMD_NM,CHG_CFCD,CHG_CFNM,LNM,INTPR_CD,INTPR_NM,...,RNHST_NM,AREA,centroid_lat,centroid_lon,면_리_code,세부주소,세부주소2,리,지역,searching_index
0,4878679,2019,4.723033e+18,47230330,화산면,1,유지,554 답,1,논,...,no,507.268026,1.121707e+06,1.780268e+06,47230330351,554,96,용평리,화산면,경상북도 영천시화산면용평리554
1,4878680,2019,4.723033e+18,47230330,화산면,1,유지,553답,1,논,...,no,2303.592489,1.121747e+06,1.780293e+06,47230330351,553,9856,용평리,화산면,경상북도 영천시화산면용평리553
2,4878682,2019,4.723033e+18,47230330,화산면,1,유지,552답,1,논,...,no,903.768372,1.121804e+06,1.780304e+06,47230330351,552,9616,용평리,화산면,경상북도 영천시화산면용평리552
3,4878681,2019,4.723033e+18,47230330,화산면,1,유지,552답,1,논,...,no,642.073769,1.121762e+06,1.780288e+06,47230330351,552,9616,용평리,화산면,경상북도 영천시화산면용평리552
4,4878683,2019,4.723033e+18,47230330,화산면,1,유지,551답,1,논,...,no,1665.881392,1.121869e+06,1.780318e+06,47230330351,551,9376,용평리,화산면,경상북도 영천시화산면용평리551
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21386,4876551,2019,4.723031e+18,47230310,청통면,1,유지,15-2 답,1,논,...,no,678.619051,1.126108e+06,1.778535e+06,47230310211,15,9760,호당리,청통면,경상북도 영천시청통면호당리15
21387,4904314,2019,4.723031e+18,47230310,청통면,1,유지,15-1답,1,논,...,no,765.541915,1.126133e+06,1.778545e+06,47230310211,15,9760,호당리,청통면,경상북도 영천시청통면호당리15
21388,4876552,2019,4.723031e+18,47230310,청통면,1,유지,15 답,1,논,...,no,838.288289,1.126162e+06,1.778557e+06,47230310211,15,9760,호당리,청통면,경상북도 영천시청통면호당리15
21389,4904008,2019,4.723031e+18,47230310,청통면,1,유지,14-1답,1,논,...,no,688.482442,1.126188e+06,1.778576e+06,47230310211,14,544,호당리,청통면,경상북도 영천시청통면호당리14
21390,4904007,2019,4.723031e+18,47230310,청통면,2,변경,14답,2,밭,...,no,2637.603584,1.126256e+06,1.778612e+06,47230310211,14,544,호당리,청통면,경상북도 영천시청통면호당리14

#카카오

In [ ]:
api_key='edfd732c335d5a11d5bbf6fd13244d79'

In [ ]:
def addr_to_lat_lon(addr):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query={address}'.format(address=addr)
    headers = {"Authorization": "KakaoAK " + api_key}
    response = requests.get(url, headers=headers)
    result = response.json()
    
    if 'documents' in result and len(result['documents']) > 0:
        match_first = result['documents'][0]['address']
        x = float(match_first['x'])
        y = float(match_first['y'])
    else:
        x = None
        y = None
    
    return x, y

In [ ]:
address_1[['경도', '위도']] = address_1['searching_index'].apply(addr_to_lat_lon).apply(pd.Series)

In [ ]:
address_1

In [ ]:
address_1.isna().sum()

In [ ]:
#데이터프레임 저장
address_1.to_csv('df_ver2_latlon.csv', encoding='UTF-8')